<style>
    body {
          font-family: Arial, sans-serif;
          background-color: #eaceb6;
          margin: 0;
          padding: 0;
      }

      article {
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 1rem;
        background: #f5f5f5;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }

    p {
        line-height: 1.5rem;
    }

    a {
        text-decoration: none;
        color: #000;
    }

    a:hover {
        color: #666;
    }

    .button {
        display: inline-block;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
    }

    .button:hover {
        background-color: #0069d9;
    }

    .button-back {
        display: inline-block;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: #6c757d;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
    }

    .button-back:hover {
        background-color: #5a6268;
    }

</style>

<article>
    <h1><%= "Политика конфиденциальности" %></h1>
    <% rules = File.read(Rails.root.join('public/rules.txt')).split("\n\n") %>
    <% rules.each do |rule| %>
        <p><%= rule.strip.html_safe %></p>
    <% end %>
    <%= link_to "Написать нам", "mailto:kpinchuk@sfedu.ru", class: "button" %>
    <%= link_to "На главную", "/", class: "button-back" %>

</article>
